<div class="selector-item-inner">
    <div class="name" {{action 'didClickName' target=view}}>
        {{view.type.name}}
    </div>
    {{#if view.type.viewClass}}
        {{view view.type.viewClass initialValueBinding="view.initialValue"}}
    {{/if}}
</div>