{{date-field value=view.startDate error=view.startDateError flex=1 small=true}}
<div>-</div>
{{date-field value=view.endDate error=view.endDateError flex=1 small=true}}
{{bb-tool icon="icons/tick" action="select" targetBinding="view"}}